<!-- index.html in templates folder -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChatDoctor</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <header>
            <h1>Hello! Welcome to ChatDoctor.</h1>
            <h3>I am a doctor's assistant dedicated to answering your medical questions. Please enter your question below and I will provide you with a response.</h3>
        </header>
        
        <form id="query-form">
            <label for="instruction">Instruction:</label>
            <input type="text" id="instruction" name="instruction" required>

            <label for="input">Input:</label>
            <textarea id="input" name="input" rows="5" required></textarea>

            <button type="submit">Submit</button>
        </form>
        <div class="response" id="response"></div>
    </div>

    <footer>
        <p>Built with 💖 by Cumi, fine-tuning <a href="https://huggingface.co/emilyalsentzer/Bio_ClinicalBERT">Bio_ClinicalBERT</a> and training on <a href="https://huggingface.co/datasets/lavita/ChatDoctor-HealthCareMagic-100k">ChatDoctor-HealthCareMagic-100k</a></p>
    </footer>

    <script>
        document.getElementById('query-form').addEventListener('submit', async function(event) {
            event.preventDefault();
            const instruction = document.getElementById('instruction').value;
            const input = document.getElementById('input').value;
            const responseDiv = document.getElementById('response');

            const response = await fetch('/predict', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    'instruction': instruction,
                    'input': input
                })
            });

            const responseData = await response.json();
            responseDiv.innerHTML = responseData.response;
        });
    </script>
</body>
</html>
